body{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}


.clock{
    color: white;
    opacity: 70%;
    font-size: 6em;
    font-weight: 900;
    font-family: 'Georgia';
    margin: 0 auto; 
    text-align: center; 
}